{% extends "template.html" %}


{% block content %}


<div class="container" style="width: 90vw; margin: 50px auto; margin-top: 80px;">
    <a class="btn btn-secondary" href="{% url 'edit header' object.pk %}">Edit</a>
    <div class="card card-outline-secondary m-4 shadow">

        <div class="card-header shadow-sm">
            <div class="row">
                <h5 class="text m-0 font-weight-normal">
                    {{ object.name }}
                </h5>

            </div>
        </div>

        <div class="card-body">

            <p>
                {{ object.latex_code|linebreaks }}
            </p>


        </div>
    </div>


</div>


{% endblock %}