{% extends "template.html" %}

{% block content %}

<div style="display: flex;align-items: center;justify-content: center; height: 96vh; width: 40vw; margin: auto;">
    <div class="card border-dark shadow">
        <div class="card-body">
            <h3 style="color: #212529; text-align: center; margin: 20px;">
                Permissions denied
            </h3>
            <hr style="width: 15vw;">
            <p style="text-align: center; margin: 20px;">
                You don't have the desired permissions to enter this page. Ask the admin to configure your Permissions.
            </p>
        </div>

    </div>
</div>

</div>
{% endblock %}